

/* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI'; */

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI'; 
}

/* menu head */

#menu-head{
    width: 100%;
    height: 30px;
    background-color: #00483d;
    margin: 0 auto;
}

.wrap-menu-head{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #00483d;
}

.menu-right{
    float: right;
}

.menu-right ul{
    list-style: none;
    margin-right: 0;
    display: flex;
}

.menu-right ul li{
    padding: 0 15px 0 0;
    float: right;
    line-height: 30px;
}

.menu-right ul li a{
    text-decoration: none;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
    font-size: 13px;
    font-weight: 400;
}

.menu-right ul li a:hover{
    color: #01d1b2;
}

/* container search */

#container{
    display: flex;
    width: 1200px;
    height: 91px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#container .logo{
    width: 256px;
    padding-right: 10px;
    cursor: pointer;
}



#container .order-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    vertical-align: top;
    padding-left: 25px;
}
.order-tools .item{
    float: left;
}
.order-tools .checkorder{
    margin-right: 5px;
}

.checkorder a{
    text-decoration: none;
    display: block;
    width: 110px;
    height: 35px;
    padding: 6px 8px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px #ccc;
    background-color: #00483d;
    position: relative;
    transition: all 0.1s ease;
}

.checkorder .icon, .text {
    color: white
}
.checkorder .icon {
    font-size: 25px;
    position: absolute;
    left: 8px;
    top: 10px;
}
.checkorder .text {
    text-align: left;
    display: block;
    margin-left: 40px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 100;
}

.checkorder a:hover {
    background-color: #00aa91;
}

.search-box .border{
    width: 670px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 6px #ccc;
    margin-left: 10px;
    position: relative;
}

.search-box .border input {
    width: 604px;
    height: 39px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0 55px 0 10px;
    box-shadow: o 4px 6px #ccc;
}
.search-box .border button {
    width: 42px;
    height: 42px;
    position: absolute;
    right: 5px;
    top: -7px;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(to top, #00483d, #008d78);
    cursor: pointer;
    box-shadow: 0 4px 6px #ccc;
}

.search-box .border button:hover {
    top: -2px;
}

.search-box .border button span i{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.cart {
    width: 70px;
    position: relative;
}

.cart .icon-cart {
    font-size: 35px;
    transition: all 0.1s ease;
}
.cart .icon-cart:hover{
    color: #00aa91;
}

.cart .cart-total {
    width: 10px;
    height: 10px;
    padding: 8px;
    background-color: #ff6801;
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: 1px;
    display: inline-block;
    float: right;
    position: relative;
    border-radius: 5px;
    cursor: initial;
}

.cart .cart-total::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid #ff6801;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* wrap cart */

.wrap-cart-pro{
    position: absolute;
    width: 535px;
    background-color: #ebebeb;
    z-index: 1000;
    top: 60px;
    right: 0;
    border-radius: 10px;
    border: 4px solid #45b9a8;
    display: none;
}

.cart:hover .wrap-cart-pro {
    display: block;
}


.wrap-cart-pro::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 24px;
    top: -40px;
    border-bottom: 20px solid #45b9a8;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
}

.wrap-cart-pro .cart-close {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

.wrap-cart-pro table {
    display: block;
    height: 400px;
    overflow-y: scroll;
}
.wrap-cart-pro table::-webkit-scrollbar{
    width: 8px;
    background-color: white;
}

.wrap-cart-pro table::-webkit-scrollbar-thumb{
    background-color: #45b9a8;
    border-radius: 10px;
}

.wrap-cart-pro table tr:hover {
    background-color: rgb(245, 245, 245);
}

.wrap-cart-pro table tr td{
    /* border-bottom: 1px solid #45b9a8; */
    padding: 12px 0;
}

.total-price {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.btn-buy {
    width: 120px;
    height: 35px;
    margin-left: 38%;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: #00483d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.btn-buy:hover {    
    background-color: #008672;
}

.wrap-cart-pro img {
    width: 70px;
    height: 70px;
}


/* menu main  */

.container {
    margin: 0 auto;
    min-width: 1200px;
    width: 1200px;
}

.container ul.root {
    background-color: #00483d;
    max-width: 1200px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px #ccc;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    position: relative;
}

.container ul.root li{
    margin: 8px 16px 8px 16px;
    display: inline-flex;
}

.container ul.root li a{
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 5px;
    border-bottom: 3px solid #00483d;
}

.container ul.root li a:hover{
    border-bottom: 3px solid rgb(255, 153, 0);
}

.sub-container>.sub:hover>.container>ul.root>li>a {
    border-bottom: 3px solid rgb(255, 153, 0);
}

.container ul.root li a .fal, .fas{
    font-size: 26px;
    margin: 0 auto;
}

.container ul.root li a span {
    font-size: 10px;
    display: block;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 0 0;
    font-weight: normal;
}

.container ul.root li:hover .sub-container {
    visibility: unset;
    opacity: unset;
}

.sub-container {
    min-width: 1200px;
    width: 1200px;
    position: absolute;
    background-color: white;
    top: 65px;
    margin-top: 15px;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms,visibility 200ms;
    z-index: 100;
}


.sub-container .sub {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px #ccc;
    text-align: left;
    display: flex;
    justify-content: left;
}   

.sub-container .sub .menu:first-child {
    margin-left: 20px;
}

.sub-container .sub .g1,.g2 {
    flex-grow: 1;
}

.sub-container .sub .menu {
    margin: 0 40px 20px 0;
}

.sub-container .sub .menu h4 {
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 200px;
    width: 200px;
}

.sub-container .sub .menu .display-column {
    flex-direction: row;
    justify-content: flex-start;
}

.sub-container .sub ul {
    background: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.sub-container .sub .menu a:link{
    text-decoration: none;
    border:none;
    
}   

.sub-container .sub .menu a{
    color: rgb(97, 96, 96);
}

.sub-container .sub .menu ul li {
    width: 150px;
    height: 10px;
}
.sub-container .sub .menu ul li a{
    font-size: 13px;
}

.sub-container .sub .menu ul li a:hover {
    color: #00a189;
}

ul.root li{
    margin: 8px 16px 4px 16px;
    display: inline-flex;
    border-bottom:none;
}

.sub-container .sub .menu ul.format-1 {
    width: 800px;
}

.sub-container .sub .menu ul.format-2 {
    width: 360px;
}

.sub-container .sub .menu ul.format-3 {
    width: 400px;
}

.sub-container .sub .menu ul.format-4 {
    width: 350px;
}


/* slider */

#slider {
    width: 1200px;
    height: 375px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    z-index: -10;    
    position: relative; 
}

#slider .slides{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
}
.slides .slide-item {
    width: 100%;
    height: 100%;
}
.slides .slide-item a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button {
    width: 1200px;
    margin: 0 auto;
}

.slider-button span {
    position: absolute;
    top: 39%;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(196, 196, 196, 0.363);
    z-index: 1;
    cursor: pointer;
    text-align: center;
}

.slider-button span:hover {
    background-color: rgba(231, 231, 231, 0.363);
}

.slider-button i {
    margin-top: 15px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.705);
}
.slider-button .slide-prev {
    left: 20%;
}

.slider-button .slide-next {
    right: 20%;
}



/* .slides .slide-item {
    animation: slidemove 10s infinite;
    border-radius: 10px;
}

@keyframes  slidemove {
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0%);
    }
} */


/* flash sale */

.mg-auto {
    min-width: 1200px;
    width: 1200px;
    margin:  0 auto;
}

.quick-sale {
    width: 1200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-sale {
    width: 100%;
    margin-top: 40px;
    padding: 0;
}

.flash-sale .header{
    width: 100%;
    margin-bottom: 20px;

}

.flash-sale .content {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px #ccc;
}

.flash-sale .header h3{
    color: tomato;
    font-size: 30px;
    font-weight: 900;
}

.flash-sale .header h3 i{
    font-size: 30px;
    color: tomato;
    margin-left: -5px;
    margin-right: -7px;
    font-weight: 600;
}

.flash-sale .content .item {
    width: 18%;
    margin: 10px 5px 40px 5px;
    cursor: pointer;
}

.flash-sale .content .item .img{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-sale .content .item .img img{
    width: 80%;
    height: 90%;
}

.flash-sale .content .item .infor {
    width: 100%;
}

.flash-sale .content .item .infor a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.flash-sale .content .item .infor a:hover {
    color: rgb(0, 126, 98);
}

.flash-sale .content .item .infor .price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.flash-sale .content .item .infor .price strong,strike {
    font-size: 13px;
}
.flash-sale .content .item .infor .price strong{
    color: tomato;
    font-weight: 700;
    font-size: 17px;
    margin-right: 5px;
}

.flash-sale .content .item .infor .price strike {
    margin-right: 5px;
}


/* ads */

.ads {
    margin-top: 30px;
    width: 1200px;
}
.ads a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* product phone  */

.box-product-phone{
    width: 1210px;
    margin-top: 20px;
    padding: 0;
}

.box-product-phone .header{
    width: 300px;
    height: 30px;
    background: #009981;
    position: relative;
}

.box-product-phone .header::before{
    content: "";
    border-top: 30px solid #00483d;
    border-left: 30px solid #009981;
    margin-left: 40px;
    position: absolute;
}

.box-product-phone .header h4 {
    display: block;
    width: 240px;
    height: 30px;
    background: #00483d;
    margin-left:  60px;
}

.box-product-phone .header h4.format-h4 {
    width: 340px;
}

.box-product-phone .header h4 a{
    text-decoration: none;
    width: 240px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.box-product-phone .header h4 a.format-a {
    width: 340px;
}

.box-product-phone .header h4 a:hover{
    color: #00ac92;
}

.box-product-phone .content-prooduct-list {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 20px;
}

.box-product-phone .content-prooduct-list .item:nth-child(5n){
    margin-right: 0;
}

.box-product-phone .content-prooduct-list .item{
    margin: 0 10px 10px 0;
    width: 232px;
    background: white;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.box-product-phone .content-prooduct-list .item .img{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-product-phone .content-prooduct-list .item .img img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    margin-top: 40px;
}

.box-product-phone .content-prooduct-list .item .infor {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.box-product-phone .content-prooduct-list .item .infor a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.box-product-phone .content-prooduct-list .item .infor .price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.box-product-phone .content-prooduct-list .item .infor .price strong {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 80, 49);
    margin-right: 5px;
    margin-left: -20px;
}

.box-product-phone .content-prooduct-list .item .infor .price strike {
    font-size: 13px;
}
.box-product-phone .content-prooduct-list .item .note {
    margin: 0;
    position: absolute;
    padding: 5px 10px;
    bottom: 10px;
    text-align: left;
}
.bag{
    display: inline-block;
    font-size: 11px;
    background: #f7941e;
    padding: 4px 6px;
    border-radius: 3px;
    box-shadow: 0 4px 6px #00000029;
    color: white;
}
.box-product-phone .content-prooduct-list .item .note label{
    font-size: 13px;
}
.box-product-phone .content-prooduct-list .item .note strong.text-orange{
    color: #f7941e;
    font-size: 14px;
    font-weight: 700;
}

.box-product-phone .content-prooduct-list .item:hover .promote{
    visibility: unset;
    opacity: 1;
}

.box-product-phone .content-prooduct-list .item .promote{
    display: block;
    position: absolute;
    z-index: 1;
    top: 50px;
    width: 96%;
    background: rgba(255, 255, 255, 0.904);
    border-radius: 5px;
    border: 2px solid #009981;
    margin: 0 2.5px 0 2.5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1000ms,visibility 2000ms;
}





.box-product-phone .content-prooduct-list .item .promote a{
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.box-product-phone .content-prooduct-list .item .promote a ul{
    margin: 15px 10px 10px 8px;
    list-style: none;
}

.box-product-phone .content-prooduct-list .item .promote a ul li{
    display: inline-block;
    text-align: left;
    margin-left: 3px;
}

/* có thể bạn sẽ thích */

.custom1 {
    padding-top: 25px;
}

.custom-price {
    padding-top: 20px;
}

.custom-infor {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-product-phone .content-prooduct-list .item .custom-infor a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.box-product-phone .content-prooduct-list .item .custom-infor .price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.box-product-phone .content-prooduct-list .item .custom-infor .price strong {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 80, 49);
    margin-right: 5px;
    margin-left: -20px;
}

.box-product-phone .content-prooduct-list .item .custom-infor .price strike {
    font-size: 13px;
}

/* phụ kiện */

.box-accessory {
    width: 1200px;
    background: white;
    padding: 30px 0 20px 0;
    margin-top: 20px;
    box-shadow: 0 4px 6px #00000029;
}

.box-accessory .accessory{
    width: 90%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 30px 10px;
    margin-left: 20px;
}

.box-accessory .accessory .item {
    width: 100%;
    cursor: pointer;
}

.box-accessory .accessory .item span{
    width: 100px;
    height: 100px;
    background: rgb(241, 240, 240);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(241, 240, 240);
}

.box-accessory .accessory .item span img {
    width: 47px;
    height: 47px;
}
.box-accessory .accessory .item label {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    line-height: 18px;
    cursor: pointer;
}

.box-accessory .accessory .item:hover span{
    border:1px solid #00ac92;
}

.box-accessory .accessory .item:hover label {
    color: #00ac92;
}

/* tin công nghệ */

.box-product-phone .col-content {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    margin-top: 30px;
}

.box-product-phone .col-content .item {
    width: 387px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
}

.box-product-phone .col-content .item:nth-child(3) {
    margin-right: 0;
}

.box-product-phone .col-content .item .image {
    width: 120px;
    display: block;
}

.box-product-phone .col-content .item .image a img {
    width: 100px;
    margin: 10px;
}

.box-product-phone .col-content .item p {
    display:  inline-block;
    margin: 10px 10px 0 0;
    font-size: 13px;
    font-weight: 700;
}

.box-product-phone .col-content .item p a {
    text-decoration: none;
    color: black;
    line-height: 20px;
}

.box-product-phone .col-content .item i {
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(75, 75, 75);
    font-style: italic;
    font-weight: normal;
}

.box-product-phone .col-content .item p a:hover {
    color: #00ac92;
}

/* giá trị cốt lõi */

.corevalue {
    margin: 20px 0;
    padding: 10px 60px;
    display: flex;
}
.corevalue .item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.corevalue .item .icon {
    width: 70px;
    height: 60px;
    margin-right: 10px;
    background: linear-gradient(to right,#00917a,#00483d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.corevalue .item .icon .fal {
    font-size: 60px;
}

.corevalue .item .text{
    min-width: 80.5px;
    width: 80.5px;
    color: black;
    text-align: left;
}
 
.corevalue .item .text span {
    display: inline-block;
    width: 120px;
    font-size: 12px;
    display: inline-block;
}

.corevalue .item .text strong{
    display: inline-block;
    width: 110px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3px;
}


/* subscription */

.subscription {
    margin-top: 20px;
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription .icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.subscription .icon-text img {
    margin-right: 30px;
}

.subscription .icon-text .text {
    color: black;
    text-align: center;
}

.subscription .icon-text .text h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subscription .icon-text .text p {
    font-size: 13px;
}


.subscription .form {
    width: 360px;
    position: relative;
    margin-right: 10px;
}

.subscription .form .input input {
    width: 320px;
    height: 48px;
    border-radius: 15px;
    border:none;
    outline: none;
    background-color: rgb(216, 215, 215);
    padding: 0 40px 0 10px;
}

.subscription .form button {
    position: absolute;
    width: 75px;
    height: 48px;
    border-radius: 15px;
    border:none;
    background-color: #00483d;
    top: 0;
    right: -45px;
    cursor: pointer;
}

.subscription .form  button .fa-paper-plane {
    color: white;
    font-size: 30px;
    transform: rotateZ(35deg);
    transform: rotateX(25deg);
    position: absolute;
    top: 5px;
    right: 25px;
}

.subscription .form button:hover {
    background-color: #009c85;
}


/* footer  */

.footer {
    width: 1200px;
    background-color: #00483d;
    color: rgba(255, 255, 255, 0.856);
    padding: 10px 0px 10px  0px;
    border-radius: 10px;
}

.footer .col-content {
    display: flex;
    justify-content: center;
}

.footer .col-content>div{
    flex-direction: column;
    width:16%;
}

.footer .col-content h4 {
    width: 176px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 6px;
    color: rgba(255, 255, 255, 0.877);
}

.footer .col-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .col-content ul li {
    margin-bottom: 3px;
    display: list-item;
}

.footer .col-content ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
    font-size: 13px;
    width: 179px;
    line-height: 15px;
}

.footer .col-content .link-content h4:hover {
    color: rgb(255, 255, 255);
}

.footer .col-content .link-content ul li a:hover {
    color: rgba(255, 255, 255, 0.952);
}

.footer .col-content .hotline {
    display: inline-block;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    color: #00483d;
    border-radius: 5px;
}

.footer .col-content .mg-top{
    margin-top: 20px;
}

.footer .info{
    padding-top: 20px;
    text-align: center;
}

.footer .info p {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}

.footer .info p strong {
    font-weight: 700;
}

.footer .info p:nth-child(3) {
    font-size: 12px;
}

.pd-10 {
    width: 186px;
}

.nav-social {
    margin-left: -70px;
}

.nav-social .social {
    width: 52px;
    height: 210px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 450px;
    border-radius: 50px;
    box-shadow: 0 4px 6px #ccc;
}

.nav-social .social a{
    display: block; 
    width: 40px;
    height: 40px;    
    border-radius: 25px;
    margin: 2px 0 8px 3px;
    text-align: center;
    font-size: 24px;
}

.nav-social .social .blue {
    border: 3px solid #3c5a99;
    color: #3c5a99;
    margin-top: 2px;
}

.nav-social .social i {
    margin-top: 7px;
}
.nav-social .social .red {
    border: 3px solid #f00;
    color: #f00;
    
}

.nav-social .social .gradient {
    background: linear-gradient(50deg,#fbe18a 0%,#fcbb45 21%,#f75274 38%,#d53692 52%,#8f39ce 74%,#ad63a0 100%) 0% 0% no-repeat;
    padding: 2px;
}

.nav-social .social .gradient span {
    display: block;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 1px 0 7px 0;
}

.nav-social .social .gradient i {
    background: transparent linear-gradient(
50deg,#fbe18a 0%,#fcbb45 21%,#f75274 38%,#d53692 52%,#8f39ce 74%,#ad63a0 100%) 0% 0% no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.nav-social .social .tiktok {
    border: 3px solid #000000;
    color: #000000;
    margin-top: 2px;
}

.nav-social .social .tiktok ion-icon {
    margin-top: 7px;
}


/* send message */

.message {
    position: fixed;
    right: 1px;
    bottom: 25px;
}

.message .btn-message {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #009981;
    cursor: pointer;
}

.message ion-icon {
    font-size: 40px;
    color: white;
    margin: 12px 0 0 15px;
}

.message .wrap-chatbox {
    position: absolute;
    border-radius: 15px;
    top: -395px;
    right: 0;
    width: 350px;
    height: 466px;
    background-color: white;
    clip-path: circle(0.0% at 100% 100%);
    transition: all 0.3s;
    box-shadow: -3px 3px 6px 0 rgba(226, 226, 226, 0.7) ;
}

.animation-chat-box {
    clip-path: circle(141.4% at 100% 100%) !important;
}

/* top box */

.message .wrap-chatbox .top-box {
    width: 321px;
    height: 42px;
    padding: 15px 15px;
    border-radius: 15px 15px 0 0;
    background-color: #145c94;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message .wrap-chatbox .top-box .box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message .wrap-chatbox .top-box .box-logo img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 35px;
}

.message .wrap-chatbox .top-box .box-logo .logo1 {
    position: relative;
    z-index: 10;
}

.message .wrap-chatbox .top-box .box-logo .logo2 {
    position: absolute;
    top: 17.5px;
    left: 35px;
    z-index: 8;
}

.message .wrap-chatbox .top-box .box-logo .logo3 {
    position: absolute;
    top: 17.5px;
    left: 55px;
}
.message .wrap-chatbox .top-box .text-header strong {
    display: inline-block;
    width: 210px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    color: white;
}

.message .wrap-chatbox .top-box .text-header span {
    display: inline-block;
    width: 210px;
    margin-top: 5px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.521);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message .wrap-chatbox .top-box .btn-close-chatbox .close-chatbox{
    display: block;
    height: 40px;
}

.message .wrap-chatbox .top-box .btn-close-chatbox .close-chatbox i{
    font-size: 26px;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

/* center box */


.message .wrap-chatbox .center-box {
    overflow-y: scroll;
    height: 326px;
}

.message .wrap-chatbox .center-box::-webkit-scrollbar{
    width: 8px;
    background-color: white;
}

.message .wrap-chatbox .center-box::-webkit-scrollbar-thumb{
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
}


.message .wrap-chatbox .center-box .content-box{
    width: 282px;
    height: 446px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgb(235, 235, 235) ;
}

.message .wrap-chatbox .center-box .content-box form {
    padding: 10px 20px;
}

.message .wrap-chatbox .center-box .content-box form h4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

.message .wrap-chatbox .center-box .content-box .content div {
    margin-top: 10px;
}

.message .wrap-chatbox .center-box .content-box .content div .label{
    font-size: 16px;
    color: rgba(65, 65, 65, 0.575);
    font-weight: 600;
}

.message .wrap-chatbox .asterisk {
    color: rgba(255, 65, 65, 0.74);
    font-size: 18px;
}

.message input {
    width: 222px;
    height: 30px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
}

.message input:focus-within{
    border: 1px solid red !important;
}

.center-box .form-message{
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 5px;
}

.invalid input {
    border: 1px solid rgb(255, 0, 0);
}

.invalid .form-message{
    color: red;
}

.message textarea {
    resize: none;
    width: 222px;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
}

.message textarea::-webkit-scrollbar{
    width: 8px;
    background-color: white;
}

.message textarea::-webkit-scrollbar-thumb{
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
}


/* bottom box */
.message .bottom-box {
    width: 350px;
    border-top: 1px solid rgba(161, 161, 161, 0.281);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
}

.message .bottom-box .send-text {
    padding: 10px 35px;
    margin-top: 8px;
    background-color: #145c94;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
/* ----------------------------------------------------------------------chitietsp---------------------------------------------------------- */

/* link  */

.wrap-ol ol {
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.wrap-ol ol li {
    display: flex;
    margin-right: 10px;
}

.wrap-ol ol li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 13px;
}

.wrap-ol ol li a:hover {
    color:#00ac92;
}

.wrap-ol ol li a i {
    color: rgb(75, 75, 75);
    font-size: 11px;
}

.wrap-ol ol li .icon-next {
    color: rgb(75, 75, 75);
    font-size: 9px;
    margin-right: 10px;
    margin-top: 2px;
}

.wrap-ol ol li a.sp {
    color: #00ac92;
}

.top-product {
    display: inline-block;
    margin-top: 30px;
    font-size: 19.5px;
    font-weight: 700;
}

/* detail pro  */

.wrap-detail-products {
    display: flex;  
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px #ccc;
}


/* image  */

.image-product {
    position: relative;
    width: 380px;
    height: 530px;
    overflow: hidden;
    top: 5px;
    left: 0;
}

.image-product-big {
    width: 370px;
    height: 520px;
    border: 1px solid rgba(187, 187, 187, 0.637);
    border-radius: 10px;
}

.image-product-big .item-img {
    margin-top: 20px;
    width: 370px;
    height: 520px;
    /* animation: slide-pro 20s infinite; */
}

.image-product-big .item-img a {
    margin-top: 0;
}

.image-product-big .item-img img {
    width: 370px;
    height: 480px;
}

@keyframes slide-pro {
    16.6666% {
        transform: translateX(-100%);
    }
    33.3333% {
        transform: translateX(-200%);
    }
    49.9999% {
        transform: translateX(-300%);
    }
    66.6666% {
        transform: translateX(-400%);
    }
    83.333% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0%);
    }
}

.image-product .favorite-pro {
    position: absolute;
    top: 20px;
    right: 20px;
}

.image-product .favorite-pro span {
    display: block;
    background-color: white;
    padding: 10px 7px 7px 7px ;
    border-radius:15px;
    cursor: pointer;
    box-shadow: 0 4px 6px #ccc;
}
.image-product .favorite-pro i {
    font-size: 25px;
    color: red;
}

.image-product .favorite-pro i:hover {
    font-weight: 900;
}


.image-product .image-product-small {
    width: 370px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px #ccc;
    position: relative;
}

.image-product .image-product-small::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 80px;
    top: 0;
    right: -10px;
    z-index: 100;
    border-radius: 0 10px 10px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 0 rgba(204, 204, 204, 0.473);
}

.image-product .image-product-small::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 100;
    border-radius: 10px 0 0 10px;
    background-color: white;
    box-shadow: 0 4px 0 rgba(204, 204, 204, 0.158);

}


.image-product .image-product-small .mg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 80px;
    margin-left: -30px;
    animation:  image-small 10s infinite;
}

@keyframes image-small {
    33.333% {
        transform: translateX(-55px);
    }
    66.666% {
        transform: translateX(55px);
    }
    100% {
        transform: translateX(0px);
    }
}


.image-product .image-product-small .mg-image .image-bd {
    width: 65px;
    height: 65px;
    border: 1px solid rgb(202, 202, 202);
    margin-right: 10px;
}

.image-product .image-product-small .mg-image img {
    width: 100%;
    height: 100%;
}


/* center  */


.detail-center {
    width: 498px;
    height: 660px;
    margin-left: 10px;
}

.detail-center .price-detail {
    margin-top: 20px;
    display: block;
}

.detail-center .price-detail strong {
    font-size: 26px;
    font-weight: 700;
    color: red;
}

.detail-center .price-detail strike {
    font-size: 18px;
    margin-left: 10px;
}

.detail-center .price-detail i {
    font-size: 15px;
    margin-left: 5px;
}

.detail-center .freeship {
    width: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00483d;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
}

.detail-center .freeship img {
    width: 40px;
    height: 33px;
    padding: 5px 0;
}

.detail-center .freeship span {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 300;
}

.product-option {
    margin-top: 10px;
}

.product-option .label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.product-option .option {
    display: flex;
    flex-wrap: wrap;
}

.product-option .option .item {
    border: 3px solid rgb(226, 226, 226);
    border-radius: 5px;
    margin: 10px 10px 0 0;
    padding: 5px 20px 5px 5px;
}

.product-option .option .item:hover {
    border: 3px solid orangered;
}

.product-option .option .item a{
    text-decoration: none;
}


.product-option .option .item .cycle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(226, 226, 226);
    text-align: center;
    background-color: white;
}
.product-option .option .item i {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 900;
}

.product-option .option .item span {
    display: flex;
}

.product-option .option .item span label strong {
    font-size: 14px;
    margin-left: 5px;
    color: black;
}

.product-option .option .item .strong-price {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 73, 73);
    margin-top: 10px;
}
 

.product-promotion {
    margin-top: 20px;
}



.product-promotion strong {
    font-size: 16px;
    font-weight: 700;
}

.product-promotion ul {
    margin-top: 10px;
    
}

.product-promotion ul li{
    list-style: inside;
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
    margin-right: 20px; 
}

.product-promotion ul li a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.product-promotion ul li a:hover {
    color: tomato;
}

.product-action {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-action button {
    width: 400px;
    padding: 5px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#ff1b1b 0%,#ca1717 52%,#a1130e 100%) 0% 0% no-repeat;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px #ccc;

}

.product-action button:hover {
    background: linear-gradient(180deg,#a1130e 0%,#ca1717 52%,#ff1b1b 100%) 0% 0% no-repeat;
}

.product-action button strong {
    width: 300px;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
}

.product-action button span {
    width: 300px;
    display: inline-block;
    font-size: 13px;
    margin-top: 2px;
}

.product-action .addcart-btn {
    display: block;
    width: 48px;
    height: 48px;
    background: linear-gradient(180deg,#ff915e 0%,#ff6f2c 52%,#ff5405 100%) 0% 0% no-repeat;
    border-radius: 5px;
    margin-left: 5px;
    box-shadow: 0 4px 6px #ccc;
    cursor: pointer;
}

.product-action .addcart-btn:hover {
    background: linear-gradient(180deg,#ff5405 0%,#ff6f2c 52%,#ff915e 100%) 0% 0% no-repeat;
}

.product-action .addcart-btn span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
}

.product-action .addcart-btn i{
    font-size: 26px;
    color: white;
    text-align: center;
}

/* location  */

.detail-store {
    width: 312px;
    height: 660px;
    border-left: 1px solid #000;
    padding-bottom: 20px;
}

.detail-store .warranty {
    text-align: center;
}

.detail-store .warranty h4 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 20px;
}

.detail-store .warranty span {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    margin: 10px 22px 0 22px;
    text-align: justify;
}

.check-stock .city {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.check-stock .city .button {
    display: block;
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    cursor: pointer;
}

.check-stock .city .button .see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    box-shadow: 0 4px 6px #ccc;
}

.check-stock .city .button .see-all i{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 200;
}

.check-stock .city .button .see-all label{
    font-size: 15px;
    font-weight: 600;
}

.check-stock .city .button:hover .country {
    visibility: unset;
    opacity: 1;
}


.check-stock .city .button .country {
    position: absolute;
    display: block;
    width: 240px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    top:28px;
    left: 13.5px;
    border-radius: 0 0 5px 5px;
    transition: opacity 200ms, visibility 200ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    z-index: 10;
}

.check-stock .city .button .country li {
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.check-stock .city .button .country li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.check-stock .city .button .country li:hover {
    background-color: #00aa91;
}

.check-stock .store {
    display: block;
    transform: translateY(10px);
    width: 270px;
    height: 374px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    overflow-y: scroll;

}

.check-stock .store ul {
    display: block;
    margin: 10px 10px 0 10px;
}

.check-stock .store ul li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.check-stock .store ul li i {
    font-size: 12px;
    font-weight: 900;
}

.check-stock .store ul li span{
    font-size: 14px;
    font-weight: 400;
}

.check-stock .store ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: black;
    display: inline-block;
    width: 100%;
}

.country .link-location-red {
    color: rgba(255, 0, 0, 0.63) !important;
}

/* active option */

.product-option .option .active {
    border: 3px solid #00483d !important;
}

.product-option .option .active .cycle {
    background-color: #00483d;

}

/* custom scroll bar*/

.check-stock .city .button .country::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(223, 223, 223);
}

.check-stock .city .button .country::-webkit-scrollbar-thumb {
    background-color: #00483d;
}

.check-stock .store::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(223, 223, 223);
}

.check-stock .store::-webkit-scrollbar-thumb {
    background-color: #00483d;
}

/* favorite */

.heart-red {
    font-weight: 900;
}

/* post */

.posts {
    display: flex;
    margin-top: 20px;
}

/* post left */

.posts .post-left {    
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px #ccc;
}

.posts .post-left .post-product-text {
    width: 800px;
    height: 670px;
    overflow:hidden;
    padding: 25px 20px;
}

.posts .post-left img {
    width: 760px;
    margin-top: 20px;
}

.posts .post-left .text-small {
    display: inline-block;
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
}

.posts .post-left .view-more a{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.posts .post-left .view-more strong {
    font-size: 18px;
    font-weight: 700;
    color: #00483d;
}

.extend {
    height: 3800px !important;
}

/* post right */

.posts .post-right {
    width: 340px;
    height: 740px;
    background-color: white;
    margin-left: 20px;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 0 4px 6px #ccc;
}

.wrap-detail-sp {
    padding: 25px 20px;
}

.wrap-detail-sp .wrap-img-btn {
    width: 300px;
    margin-top: 20px;
    position: relative;
}

.wrap-detail-sp .wrap-img-btn img{
    width: 300px;
    height: 300px;
}

.wrap-detail-sp .wrap-img-btn .config-detail {
    position: absolute;
    bottom: -15px;
    left: 50px;
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px #ccc;
    cursor: pointer;
}

.wrap-detail-sp .wrap-img-btn .config-detail i {
    font-size: 24px;
    color: #00483d;
}
.wrap-detail-sp .wrap-img-btn .config-detail span {
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
}

.wrap-detail-sp .special {
    margin-top: 40px;
}

.wrap-detail-sp .special ol li {
    list-style: none;
    margin-top: 15px;
    line-height: 20px;
}

.wrap-detail-sp .special ol li strong{
    font-size: 16px;
    font-weight: 700;
}

.wrap-detail-sp .special ol li span{
    font-size: 14px;
    font-weight: 400;
}


.home-page {
    display: block;
}

.detail-page {
    display: none;
}